.memo{
    &-parent{
        text-align: center;
        .ant-input-group-addon{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .ant-input{
            border: none;
        }
    }
    &-antd-space{
        width: 50%;
        .ant-space-item{
            display: flex;
        }
    }
}